In [1]:
import pandas as pd

In [2]:
# 1 Cargar dataset (OJO con el encoding)

tiburones = pd.read_csv("./ficheros_pandas/attacks.csv")

tiburones

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [ ]:
# 2 ExploraciÃ³n bÃ¡sica del DataFrame:
# Â¿CuÃ¡ntas filas y columnas tiene el DataFrame?
tiburones.shape

In [ ]:
# Mostrad las primeras cinco filas y las Ãºltimas cinco filas del DataFrame.
tiburones.head()

In [ ]:
tiburones.tail(5)

In [ ]:
# Mostrad 2 filas al azar del DataFrame.
tiburones.sample(2)

In [ ]:
# Â¿CuÃ¡l es el nombre de las columnas del DataFrame?
tiburones.columns

In [ ]:
tiburones.dtypes

In [4]:
# Â¿CuÃ¡les son los principales estÃ¡disticos del DataFrame? Mostrad por separado las variables categÃ³ricas y las variables numÃ©ricas.
tiburones.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [6]:
# si queremos que nos muestre solo las variables categÃ³ricas usamos include = "object"
tiburones.describe(include = "object").T # el .T cambia de lado las columnas por las filas, para poder visualizarlas mejor, no modifica, las columnas siguen siendo columnas, es sÃ³lo para visualizaciÃ³n. A no ser que lo guardes en una variable

,count,unique,top,freq
Case Number,6113,6113,2018.06.25,1
Type,6110,8,Unprovoked,4438
Country,6074,201,USA,2200
Area,5706,791,Florida,1025
Location,5626,4020,"New Smyrna Beach, Volusia County",162
Activity,5603,1484,Surfing,966
Name,5914,5118,male,511
Sex,5564,6,M,4939
Age,3448,156,17,154
Time,2934,366,Afternoon,183
Species,3409,1529,White shark,161
Investigator or Source,6098,4837,"C. Moore, GSAF",95
pdf,6114,6105,1898.00.00.R-Syria.pdf,2
href formula,6113,6104,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,6114,6099,http://sharkattackfile.net/spreadsheets/pdf_di...,4
Case Number.1,6114,6113,1952.08.04,2
Case Number.2,6114,6114,2018.06.25,1
Unnamed: 22,1,1,stopped here,1
Unnamed: 23,2,2,Teramo,1

In [7]:
# con include = "all" te muestra todas las variables en un solo dataframe
tiburones.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,6114.0,NaN,NaN,NaN,3065.554629,1769.652139,0.0,1534.25,3066.5,4596.75,6131.0
Case Number,6113,6113,2018.06.25,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,6114.0,NaN,NaN,NaN,1968.831207,43.74592,1801.0,1946.0,1980.0,2005.0,2018.0
Type,6110,8,Unprovoked,4438,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,6074,201,USA,2200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,5706,791,Florida,1025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,5626,4020,"New Smyrna Beach, Volusia County",162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,5603,1484,Surfing,966,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,5914,5118,male,511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,5564,6,M,4939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,3448,156,17,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,2934,366,Afternoon,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3409,1529,White shark,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,6098,4837,"C. Moore, GSAF",95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6114,6105,1898.00.00.R-Syria.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6113,6104,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6114,6099,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,6114,6113,1952.08.04,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.2,6114,6114,2018.06.25,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,6114.0,NaN,NaN,NaN,3237.445044,1769.652633,172.0,1706.25,3236.5,4768.75,6303.0
Unnamed: 22,1,1,stopped here,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,2,2,Teramo,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
categoricas = tiburones.select_dtypes(include = "object")
numericas = tiburones.select_dtypes(exclude = "object")

In [7]:
# Â¿CuÃ¡l es el porcentaje de valores nulos en cada columna?
valores_nulos = tiburones.isna().sum()

valores = []

for i in valores_nulos:
    
    porcentaje = i * 100 / tiburones.shape[0]
    valores.append(porcentaje)

In [8]:
tib_porcentaje = pd.DataFrame(valores, index = valores_nulos.index)
tib_porcentaje

                                0
Unnamed: 0               0.000000
Case Number              0.016356
Year                     0.000000
Type                     0.065424
Country                  0.654236
Area                     6.673209
Location                 7.981681
Activity                 8.357867
Name                     3.271181
Sex                      8.995747
Age                     43.604841
Time                    52.011776
Species                 44.242722
Investigator or Source   0.261694
pdf                      0.000000
href formula             0.016356
href                     0.000000
Case Number.1            0.000000
Case Number.2            0.000000
original order           0.000000
Unnamed: 22             99.983644
Unnamed: 23             99.967288

In [87]:
# Sacad los valores Ãºnicos y su frecuencia de las variables numÃ©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.
#tiburones["Unnamed: 0","Year","original order"].unique()

var1_dict = dict(tiburones["Unnamed: 0"].value_counts())
var2_dict = dict(tiburones["Year"].value_counts())
var3_dict = dict(tiburones["original order"].value_counts())

In [3]:
"""
Hemos decidido hacer este ejercicio primero para que sean los nombres originales
"""
# Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

para_borrar = ["Unnamed: 22", "Unnamed: 23", "Case Number.1", "Case Number.2", "original order", "Investigator or Source", "pdf", "href formula"]

for i in para_borrar:
    
    tiburones.drop(i, axis=1, inplace=True)

In [4]:
# Cambiad el nombre de las columnas para que todas estÃ©n en minÃºsculas y reemplazad los espacios por _. Hemos aÃ±adido strip() para quitar los guiones al final donde sobraban espacios
df_columnas_nuevas = {col: col.strip().replace(" ","_").lower() for col in tiburones.columns}
tiburones.rename(columns = df_columnas_nuevas, inplace = True)
tiburones

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [5]:
tiburones.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex', 'age', 'time', 'species',
       'href'],
      dtype='object')

In [6]:
tiburones2 = tiburones.copy()

In [7]:
# Establece la columna Case Number como Ã­ndice del DataFrame

tiburones2.set_index(["case_number"], inplace = True)

In [8]:
tiburones2 = tiburones2.reset_index()

In [9]:
tiburones2

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,1804.02.26.R,6127,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,1803.05.17,6128,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6111,1803.03.00,6129,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6112,1802.04.13.R,6130,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6113,1801.12.18.R,6131,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [10]:
# Guarda el csv que no tiene esas columnas para seguir usÃ¡ndolo maÃ±ana.
tiburones.to_csv("./ficheros_pandas/tiburones.csv")