In [38]:
import pandas as pd
import numpy as np

In [24]:
# cargar csv anterior de pandasIII

tiburones = pd.read_csv("./ficheros_pandas/tiburones.csv")

In [25]:
tamaño_con_nulos = tiburones.shape
tamaño_con_nulos

(6114, 15)

In [26]:
# eliminar todos los nulos del DataFrame, utilizando el siguiente código dado: df.dropna(inplace = True)

tiburones.dropna(inplace = True)

In [27]:
tamaño_sin_nulos = tiburones.shape
tamaño_sin_nulos

(1502, 15)

In [ ]:
# Ejercicio 1:
# ¿Cuántas filas se han eliminado con esta línea de código?
filas_borradas = tamaño_con_nulos[0] - tamaño_sin_nulos[0]
filas_borradas

In [33]:
# Ejercicio 2:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?


tiburones[tiburones["country"] == "USA"].shape[0] #filtramos por usa, y contamos el número de filas.

719

In [45]:
# Ejercicio 3:
# ¿Y en España?

pd.unique(tiburones["country"])

#tiburones[tiburones["country"] == "USA"].shape[0]

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA'],
      dtype=object)

In [ ]:
# 3.1 ¿En qué regiones se han producido los ataques?

In [ ]:
# 3.2 ¿Cuántos ataques se han producido en cada área?

In [ ]:
# Ejercicio 4:
# Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.
# NOTA: Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [ ]:
# 4.1 ¿Cuántos ataques se han producido en cada país?

In [ ]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [ ]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

In [ ]:
# 4.4 ¿Y después del 2000?

In [ ]:
# Ejercicios 5:
# Extraed unicamente los ataques a mujeres.

In [ ]:
# Ejercicio 6:
# ¿Cuántas mujeres fueron atacadas en España?

In [ ]:
# Ejercicio 7:
# Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

In [ ]:
# Ejercicio 8:
# Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. 
# En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). 
# Usad el método str.contains() para resolver este ejercicio.

In [ ]:
# Ejercicio 9:
# Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

In [ ]:
# Ejercicio 10:
# Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. 
# Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [ ]:
# Ejercicio 11:
# Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.