In [19]:
import pandas as pd
pd.options.display.max_columns = None
import numpy as np
import re

In [3]:
# Ejercicio: 1
# Cread una columna nueva y una funci贸n que nos de el mes donde ocurri贸 el ataque. 
# Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci贸n de mes. 
# En ese caso devolved un nulo (NaN).


df = pd.read_csv("./ficheros_pandas/info_tiburones.csv")

In [18]:
df["Date"].()

1957           11
1942            9
1956            8
1958            7
1950            7
               ..
11-Dec-1994     1
13-Dec-1994     1
18-Dec-1994     1
30-Dec-1994     1
1845-1853       1
Name: Date, Length: 5431, dtype: int64

In [6]:
df_copia = df.copy()

In [7]:
df_copia.head()

,case_number,Fatal (Y/N),Injury,Date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
patron = "\-[A-Z].*-"

x = re.findall(patron, df_copia.loc[300]["Date"])
x

['-Mar-']

In [56]:
df_copia.loc[6281]["Date"]

'Before 1903'

In [53]:
def sacar_mes(fecha):
    try:
        return re.findall(patron, str(fecha))
    except:
        return "NaN"

In [54]:
df_copia["Mes"] = df_copia["Date"].apply(sacar_mes)

In [66]:
df_copia["Mes"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                        898
[-Jul-]                   620
[-Aug-]                   551
[-Sep-]                   518
[-Jan-]                   493
[-Jun-]                   473
[-Apr-]                   419
[-Oct-]                   415
[-Dec-]                   413
[-Mar-]                   379
[-Nov-]                   376
[-May-]                   357
[-Feb-]                   356
[-July-]                    4
[-Ap-]                      2
[-Sept-]                    2
[-Aug--]                    2
[-Aug-1951 & 08-Aug-]       1
[-Mar-1943 to 07-Mar-]      1
[-Sep-1942 to 16-Sep-]      1
[-Jan-1928 & 21-Jan-]       1
[-Mar-1925 or 27-Mar-]      1
[-Nov-1909 to 19-Nov-]      1
[-March-]                   1
[-Nov-2005-]                1
Name: Mes, dtype: int64

In [ ]:
# Ejercicio: 2
# Vamos con la columna fatal_(y/n). Lo primero que ten茅is que hacer es evaluar los valores 煤nicos que hay. 
# Esperar铆amos tener solo dos valores: y y n, pero tristemente no deber铆a ser as铆 . 
# Cread una columna nueva y una funci贸n que devuelva 煤nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [111]:
def limpiar(x):
    try:
        
        return x.strip().upper()
    except:
        
        return x

In [112]:
df_copia["Nueva"]= df_copia["Fatal (Y/N)"].apply(limpiar)

In [115]:
def convertir(x):
    if x == "N":
        return "N"
    elif x == "Y":
        return "Y"
    else: 
        return "NaN"

In [116]:
df_copia["Nueva"]= df_copia["Nueva"].apply(convertir)

In [117]:
df_copia["Nueva"].unique()

array(['N', 'Y', 'NaN'], dtype=object)