In [2]:
import pandas as pd
import numpy as np

In [3]:
# cargar csv anterior de pandasIII

tiburones = pd.read_csv("./ficheros_pandas/tiburones.csv")

In [4]:
tamaño_con_nulos = tiburones.shape
tamaño_con_nulos

(6114, 15)

In [5]:
# eliminar todos los nulos del DataFrame, utilizando el siguiente código dado: df.dropna(inplace = True)

tiburones.dropna(inplace = True)

In [6]:
tamaño_sin_nulos = tiburones.shape
tamaño_sin_nulos

(1502, 15)

In [7]:
# Ejercicio 1:
# ¿Cuántas filas se han eliminado con esta línea de código?
filas_borradas = tamaño_con_nulos[0] - tamaño_sin_nulos[0]
filas_borradas

4612

In [8]:
# Ejercicio 2:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?


tiburones[tiburones["country"] == "USA"].shape[0] #filtramos por usa, y contamos el número de filas.

719

In [9]:
# Ejercicio 3:
# ¿Y en España?

tiburones["country"].unique() #usamos esto para ver como escriben España

tiburones[tiburones["country"] == "SPAIN"].shape[0]

5

In [10]:
# 3.1 ¿En qué regiones se han producido los ataques?

casos_en_España = tiburones[tiburones["country"] == "SPAIN"]

In [11]:
# 3.2 ¿Cuántos ataques se han producido en cada área?

áreas_de_ataques = casos_en_España["area"].unique()
casos_por_area2 = casos_en_España["area"].value_counts()
casos_por_area2

Castellón              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

In [12]:
casos_en_España.shape[0]

5

In [13]:
# Ejercicio 4:
# Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.
# NOTA: Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [14]:
# metodo usando dos condiciones de filtrado

usa_aus_1 = tiburones[(tiburones["country"] == "USA") | (tiburones["country"] == "AUSTRALIA")]
usa_aus_1

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,21,21,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,35,35,2018.03.31,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,5359,5375,1912.01.26,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...
5481,5481,5498,1905.03.26,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [15]:
# metodo isin

usa_aus_2 = tiburones[tiburones["country"].isin(["USA", "AUSTRALIA"] )]
usa_aus_2

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,21,21,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,35,35,2018.03.31,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,5359,5375,1912.01.26,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...
5481,5481,5498,1905.03.26,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [16]:
usa_aus_1 == usa_aus_2

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5481,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5631,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5667,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5797,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [17]:
# 4.1 ¿Cuántos ataques se han producido en cada país?

print(usa_aus_1[usa_aus_1["country"] == "USA"].shape[0])
print(usa_aus_1[usa_aus_1["country"] == "AUSTRALIA"].shape[0])

719
324

In [18]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

usa_aus_1[(usa_aus_1["country"] == "AUSTRALIA") & (usa_aus_1["activity"] == "Paddling")]

Empty DataFrame
Columns: [Unnamed: 0, unnamed:_0, case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [19]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

# metodo usando dos condiciones de filtrado

usa_aus_1[(usa_aus_1["country"] == "AUSTRALIA") & (usa_aus_1["year"] < 2000.0)].shape[0]

151

In [20]:
# metodo is in

usa_aus_2[usa_aus_2["country"].isin(["AUSTRALIA"])][usa_aus_2[usa_aus_2["country"].isin(["AUSTRALIA"])]["year"]<2000.0].shape[0]

151

In [21]:
# 4.4 ¿Y después del 2000?

# metodo usando dos condiciones de filtrado

usa_aus_1[(usa_aus_1["country"] == "AUSTRALIA") & (usa_aus_1["year"] > 2000.0)].shape[0]

167

In [22]:
# Ejercicios 5:
# Extraed unicamente los ataques a mujeres.

ataques_mujeres = tiburones[tiburones["sex_"] == "F"]
ataques_mujeres

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,53,53,2017.12.31,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,71,71,2017.10.22,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,75,75,2017.10.05,2017.0,Unprovoked,USA,Hawaii,"Kamaole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4151,4151,4163,1958.04.05,1958.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Uvongo,Paddling in knee-deep water,Fay Jones Bester,F,28,11h10,3 m [10'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4170,4170,4182,1957.12.30,1957.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Margate,Standing,Julia Painting,F,14,12h40,1.8 m [6'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4678,4678,4690,1942.12.26,1942.0,Unprovoked,AUSTRALIA,New South Wales,"Bantry Bay, near Ironstone Point, Middle Harbo...",Dog paddling or standing,Denise Rosemary Burch,F,15,10h50,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4706,4706,4718,1942.01.04,1942.0,Unprovoked,AUSTRALIA,New South Wales,"Egg Rock, Middle Harbor, Sydney",Swimming,Zita Steadman,F,28,15h00,"Bull shark, 4 m [13']",http://sharkattackfile.net/spreadsheets/pdf_di...
4913,4913,4925,1934.12.31.b,1934.0,Unprovoked,AUSTRALIA,New South Wales,Georges River at Kentucky,Splashing,Beryl Morrin,F,13,20h15,"Tiger shark, 1.5 m [5']",http://sharkattackfile.net/spreadsheets/pdf_di...

In [23]:
# Ejercicio 6:
# ¿Cuántas mujeres fueron atacadas en España?

mujeres_en_españa = tiburones[(tiburones["sex_"] == "F") & (tiburones["country"] == "SPAIN")]
mujeres_en_españa.shape[0]

1

In [24]:
# Ejercicio 7:
# Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

tiburones[tiburones["year"].isin([2000, 1997, 2006])]

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1407,1407,1412,2006.12.18,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,1408,1413,2006.12.11,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1409,1409,1414,2006.12.10,2006.0,Unprovoked,USA,California,"Dillon Beach, Marin County",Surfing,Royce Fraley,M,43,11h50,"White shark, 12' to 15'",http://sharkattackfile.net/spreadsheets/pdf_di...
1410,1410,1415,2006.12.06,2006.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Fishing,Peter Willoughby,M,25,"""Evening""","Raggedtooth shark, 150-kg",http://sharkattackfile.net/spreadsheets/pdf_di...
1411,1411,1416,2006.12.02,2006.0,Unprovoked,AUSTRALIA,Western Australia,Wharton Beach,Body boarding,Zac Golebiowski,M,15,07h30,"White shark, 5m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,2246,2253,1997.05.31.b,1997.0,Unprovoked,USA,Florida,"Flagler Beach, Flagler County",Surfing,Robert Fuller,M,34,11h00,Possibly a sand shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2247,2247,2254,1997.05.31.a,1997.0,Unprovoked,USA,Florida,"Flagler Beach, Flagler County",Surfing,Johnny Bowden,M,12,11h00,Possibly a sand shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2252,2252,2259,1997.02.28.a,1997.0,Unprovoked,AUSTRALIA,Queensland,Whitsunday Passage,Scuba diving,Gerald Rauch,M,30,Midday,"Tiger shark, 2m to 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
2256,2256,2263,1997.01.25,1997.0,Unprovoked,AUSTRALIA,Queensland,"Whitehaven Beach, Whitsundays Island",Snorkeling,Derek Burrows,M,27,11h00 / 11h30,1.8 m to 2.1 m [6' to 7'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2257,2257,2264,1997.01.20,1997.0,Unprovoked,AUSTRALIA,Western Australia,Geraldton,Windsurfing,Werner Schonhofer,M,41,18h00,"Tiger shark, 4.5 m [14'9""]",http://sharkattackfile.net/spreadsheets/pdf_di...

In [25]:
# Ejercicio 8:
# Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. 
# En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). 
# Usad el método str.contains() para resolver este ejercicio.

tiburones["species_"].unique()
patron1 = "([w|W]hite)"

ataques_blanco = tiburones[tiburones["species_"].str.contains(patron1, regex=True)]
ataques_blanco

/tmp/ipykernel_10839/1051787300.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  ataques_blanco = tiburones[tiburones["species_"].str.contains(patron1, regex=True)]

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,24,24,2018.04.22,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
34,34,34,2018.04.03,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,15h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
60,60,60,2017.11.24,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,25,13h45,"White shark, 4.6 m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,5212,5225,1922.05.06,1922.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Simons Town, False Bay",Swimming,Edward G. Pells,M,18,A.M.,"White shark, 12', identity confirmed by tooth ...",http://sharkattackfile.net/spreadsheets/pdf_di...
5216,5216,5229,1922.03.02,1922.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Bathing in knee-deep water,Mervyn Gannon,M,21,11h00,"White shark, 2.4 m [8']",http://sharkattackfile.net/spreadsheets/pdf_di...
5218,5218,5231,1922.02.04,1922.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Swimming,Milton Coughlan,M,18,15h30,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5297,5297,5311,1916.07.01,1916.0,Unprovoked,USA,New Jersey,"Beach Haven, Ocean County",Swimming,Charles E. Vansant,M,24,17h00,Thought to involve a 2.6 m [8.5'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5528,5528,5545,1901.07.30,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [26]:
# Ejercicio 9:
# Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

patron2 = "([w|W]hite)|([T|t]iger)"

ataques_blanco_tigre = tiburones[tiburones["species_"].str.contains(patron2, regex=True)]
ataques_blanco_tigre.sample(10)

/tmp/ipykernel_10839/1560155179.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  ataques_blanco_tigre = tiburones[tiburones["species_"].str.contains(patron2, regex=True)]

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1889,1889,1896,2001.09.30.b,2001.0,Unprovoked,MEXICO,Guerrero,Ixtapa,Body surfing,Brian Lavelle,M,26,Late morning,"Tiger shark, 1.8 m [6']",http://sharkattackfile.net/spreadsheets/pdf_di...
1415,1415,1420,2006.10.31,2006.0,Unprovoked,USA,Oregon,"Siletz River mouth, Lincoln County",Surfing,Tony Perez,M,22,Just before sundown,"White shark, 16'",http://sharkattackfile.net/spreadsheets/pdf_di...
4754,4754,4766,1940.03.31,1940.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"Danger Pool, Winkelspruit, South Coast",Treading water,Joe Lees,M,25,11h00,"White shark, species identity confirmed by too...",http://sharkattackfile.net/spreadsheets/pdf_di...
18,18,18,2018.04.28.b,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2148,2148,2155,1998.11.02.a,1998.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,Claudio Roberto Florencio de Freitas,M,22,Late afternoon,Though to involve a white shark,http://sharkattackfile.net/spreadsheets/pdf_di...
3983,3983,3995,1960.04.24,1960.0,Unprovoked,USA,California,"Tomales Point, Marin County",Skindiving for abalone (but at surface),Frank I. Gilbert,M,48,14h00,"White shark, 4.9 m [16']",http://sharkattackfile.net/spreadsheets/pdf_di...
1218,1218,1223,2008.07.30.R,2008.0,Unprovoked,AUSTRALIA,Victoria,Levys Beach,Surfing,Aaron Seare,M,31,10h30,8' white shark or 7-gill shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1616,1616,1623,2004.11.15,2004.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Fish Hoek, False Bay",Swimming,Tyna Webb,F,77,07h00,6 m [20'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2271,2271,2278,1996.10.03.a,1996.0,Unprovoked,USA,California,"North Salmon Creek Beach, Sonoma County",Surfing,Kennon Cahill,M,31,07h19,5 m [16.5'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4292,4292,4304,1955.02.05,1955.0,Unprovoked,AUSTRALIA,New South Wales,"Sugarloaf Bay, Middle Harbor, Sydney",Swimming,Bruno Aloysius Rautenberg,M,25,14h35,3.6 m white shark (or bronze whaler),http://sharkattackfile.net/spreadsheets/pdf_di...

In [27]:
# Ejercicio 10:
# Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. 
# Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.
tiburones["siglo"] =np.where(tiburones["year"] < 2000, "sigloXX", "sigloXXI")
tiburones

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
6,6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
8,8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
10,10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
13,13,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,5528,5545,1901.07.30,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXX
5631,5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXX
5667,5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXX
5797,5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXX
5905,5905,5922,1868.05.13,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXX

In [28]:
# Ejercicio 11:
# Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.
tiburones.to_csv("./ficheros_pandas/tiburones1.csv")