In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("./ficheros_pandas/info_tiburones.csv")
df.info()

In [63]:
# Cuántos ataques hubo por país? Devuelve un DataFrame. (ordénalos de mayor a menor. Usa .sort_values())
ataques = pd.DataFrame(df.groupby("country")["country"].count().sort_values(ascending=False))
ataques.head()

                  country
country
USA                  2222
AUSTRALIA            1335
SOUTH AFRICA          577
PAPUA NEW GUINEA      134
NEW ZEALAND           127

In [62]:
# ¿Cuántos ataques ha habido por año? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.
ataques_ano = pd.DataFrame(df.groupby("year")["year"].count().sort_values(ascending=False))
ataques_ano.head()

        year
year
2015.0   143
2017.0   136
2016.0   130
2011.0   128
2014.0   126

In [ ]:
# ¿Cuántos ataques hubo por año y sexo? Devolved un DataFrame solo del año 2000 en adelante.
ataque_2000 = df[df["year"] >= 2000]
ataque_2000

In [140]:

ataques_ano_sex = ataque_2000.groupby(["year","sex_"])['type'].count()
df_ataques_ano_sex = pd.DataFrame(ataques_ano_sex)
df_ataques_ano_sex.head()

             type
year   sex_
2000.0 F       12
       M       74
2001.0 F       13
       M       71
2002.0 F        9

In [ ]:
# Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. ¿Cuántos de los ataques fueron letales por sexo? Devuelve un DataFrame.